/* calendar layout */
.calendar {
	display: table;
}

.calendar .caption, .calendar .grid {
	display: table-row;
}

/* calendar title */

.calendar .caption {
	text-align: center;
}

.calendar #backButton {
	float: left;
}

.calendar #forwardButton {
	float: right;
}

/* calendar grid */

.calendar thead {
	text-align: center;
}

.calendar tbody {
	text-align: right;
}

.today {
	background-color: rgb(255, 255, 182);
	border: 1px dashed gray;
}

.disabled {
	color: #818181;
}
